// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body{

}

a{
  text-decoration: none;
}

.page-wrapper {

  margin-right: auto; 
  margin-left:  auto; 
  max-width: $max-width; 

}