.home {

    display: flex;
    position: relative;
    justify-content: stretch;

}

.aside_instagram {

    // .aside_instagram--vertical_link
    background-color: $main-color;
    color: $light-gold;
    font-size: 1.4em;
    padding: 0 4px;
    display: flex;

    &--vertical_link {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    // .aside_instagram--vertical_link_text

    &--vertical_link_text {

        transform: rotate(90deg);
        padding: 30px 0px;

    }

    // .aside_instagram--vertical_link_line

    &--vertical_link_line {
        border-left: 2px solid $light-gold;
        height: 51px;
        margin-left: 41px;
        margin-top: 45px;
    }
}

.main_image {

    background-image: url('../img/home.png');
    color: white;
    flex-grow: 1;

    &--content {
        max-width: 600px;
        line-height: 1.3;
        padding-left: 4.3%;
        padding-top: 14.1%;
        padding-bottom: 16%;
    }

    // .main_image--title

    &--title {
        font-family: 'Yeseva One';
        font-size: 4em;
    }

    // .main_image--text

    &--text {

        font-size: 2.2em;
        padding-top: 20px;
        margin-bottom: 55px;

    }

    // .main_image--left_button

    &--left_button {

        padding: 19px 40px;
        font-size: 1.3em;

    }

    // .main_image--right_button

    &--right_button {

        padding: 18px 20px;
        margin-left: 20px;
        font-size: 1.3em;
        background: none !important;
        border: 1px solid white;

    }
}

.scroll_down {

    position: absolute;
    background-color: $main-color;
    bottom: -7%;
    left: 0;

    // .scroll_down--link

    &--link {}

    // .scroll_down--link_icon

    &--link_icon {}
}
