/* linear-gradient(to bottom, #000 0%, #000 500px, #fff 500px, #fff 100%); */
.measurement{
    display: flex;
    justify-content: center;

}

.online_control {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    color: black;
    max-width: 837px;

    // .online_control--title

    &--title {
        flex-grow:1;
        justify-content:center;
        font-family: 'Yeseva One';
        color: white;
        font-size: 2em;
    }

    // .online_control--line_icon_camera

    &--line_icon_camera {
        flex-grow:1;
        justify-content:center;
        height: 28px;
    }

    // .online_control--online_control_video

    &--online_control_video {
        flex-grow:1;

        min-height: 434px;
        iframe{
            width: 100%;
            height: 100%; 
        }
        /* justify-content:center; */
    }

    // .online_control--online_control_line

    &--online_control_line {
        flex-grow:1;
        justify-content:center;
        width: 51px;
        height: 10px;
        border-bottom: 1.54px solid $light-gold;
    }

    // .online_control--online_control_text

    &--online_control_text {
        flex-grow:1;
        justify-content:center;
        font-size: 2em;
        line-height: 34px;
    }

    // .online_control--personal_data_form

    &--personal_data_form {
        flex-grow:1;
        justify-content:center;
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
    }

    // .online_control--input_name

    &--input_name {
        flex-grow:1;
        justify-content:center;
    }

    // .online_control--input_number

    &--input_number {
        flex-grow:1;
        justify-content:center;
    }

    // .online_control--submit_button

    &--submit_button {
        flex-grow:1;
        justify-content:center;
    }

    // .online_control--input_checkbox

    &--input_checkbox {
        flex-grow:1;
        justify-content:center;

        // .online_control--input_checkbox-activated

        &-activated {}
    }
}
