.measurement {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, $main-color 0%, $main-color 39%, #fff 39%, #fff 100%);
    padding-top: 6.5%;

    @media screen and (max-width: map-get($map: $breakpoints, $key: little)) {

        background: $main-color 50%;
        padding-top: 0;

    }

}

.online_control {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    color: #363636;
    max-width: 818px;

    @media screen and (max-width: map-get($map: $breakpoints, $key: little)) {

        max-width: 90%;

    }

    // .online_control--title

    &--title {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        font-family: 'Yeseva One';
        color: white;
        font-size: 2rem;
    }

    // .online_control--line_icon_camera

    &--line_icon_camera {
        flex-grow: 1;
        justify-content: center;
        height: 28px;
        margin-top: 2%;
        margin-bottom: 3.9%;

        @media screen and (max-width: map-get($map: $breakpoints, $key: little)) {

            margin-bottom: 10%;

        }
    }

    // .online_control--online_control_video

    &--online_control_video {
        flex-grow: 1;

        min-height: 433px;

        @media screen and (max-width: map-get($map: $breakpoints, $key: little-medium)) {

            min-height: 360px;

        }

        @media screen and (max-width: map-get($map: $breakpoints, $key: little)) {

            min-height: 270px;

        }

        @media screen and (max-width: map-get($map: $breakpoints, $key: small-little)) {

            min-height: 240px;

        }

        @media screen and (max-width: map-get($map: $breakpoints, $key: small)) {

            min-height: 207px;

        }

        iframe {
            width: 100%;
            height: 100%;
            height: -webkit-fill-available;
        }

        /* justify-content:center; */
    }

    // .online_control--online_control_line

    &--online_control_line {
        flex-grow: 1;
        justify-content: center;
        width: 56px;
        height: 10px;
        border-bottom: 1.54px solid $light-gold;
        margin-top: 6.6%;
        margin-left: auto;
        margin-right: auto;

    }

    // .online_control--online_control_text

    &--online_control_text {
        flex-grow: 1;
        justify-content: center;
        font-size: 2rem;
        line-height: 34px;
        margin-top: 3.2%;
        padding: 0 8%;
        text-align: center;

        @media screen and (max-width: map-get($map: $breakpoints, $key: little)) {

            color: white;
            font-size: 1.4rem;
            line-height: 24px;
            margin-top: 0;
            padding: 13px 0;


        }
    }

    // .online_control--personal_data_form

    &--personal_data_form {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        margin-top: 12%;

        @media screen and (max-width: map-get($map: $breakpoints, $key: little)) {

            margin-top: 5%;

        }

    }

    // .online_control--input

    &--input {
        border: 0;
        border-bottom: 1.5px solid #9c9c9c;
        width: 80%;
        padding-bottom: 2.3%;
        font-size: 1.8rem;
        font-family: $futurabookc-font;

        @media screen and (max-width: map-get($map: $breakpoints, $key: little)) {

            background-color: $main-color;
            width: 100%;

        }

    }

    &--input::placeholder {
        opacity: 1;
        color: #363636;

        @media screen and (max-width: map-get($map: $breakpoints, $key: little)) {

            color: white;


        }
    }

    // .online_control--input_name

    &--input_label {
        width: 80%;
        color: #9c9c9c;
        font-size: 1.5rem;

        @media screen and (max-width: map-get($map: $breakpoints, $key: little)) {

            width: 100%;

        }
    }


    // .online_control--input_name

    &--input_name {
        width: 34.89%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width: map-get($map: $breakpoints, $key: little)) {

            width: 100%;

        }
    }

    // .online_control--input_number

    &--input_number {
        width: 34.89%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width: map-get($map: $breakpoints, $key: little)) {

            width: 100%;
            margin-top: 20%;

        }
    }

    // .online_control--submit_button

    &--submit_button {
        width: 30.22%;
        flex-grow: 1;
        display: flex;
        justify-content: center;

        @media screen and (max-width: map-get($map: $breakpoints, $key: little)) {

            width: 100%;
            order: 4;

        }

    }


    // .online_control--button

    &--button {
        width: 82%;
        font-size: 1.5rem;

        @media screen and (max-width: map-get($map: $breakpoints, $key: little)) {

            width: 50%;
            order: 4;
            margin-top: 21%;
            margin-bottom: -5%;
            border-radius: 0;

        }

        @media screen and (max-width: map-get($map: $breakpoints, $key: small)) {

            width: 100%;


        }
    }

    &--checkbox_label {
        font-family: $futurabookc-font;
        margin: 4.3% auto 0 auto;
        font-size: 1.5em;
        color: $main-color;
        opacity: 1;
        display: block;
        position: relative;
        padding-left: 35px;
        padding-top: 0.6%;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        @media screen and (max-width: map-get($map: $breakpoints, $key: little)) {

            color: white;
            margin: 7% 0 0 0;

        }
    }

    &--checkbox_label input {

        font-size: 1.6rem;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &--checkmark {
        position: absolute;
        top: 0px;
        left: 0;
        height: 22px;
        width: 22px;
        background-color: #eee;
    }

    &--checkbox_label:hover input~.online_control--checkmark {
        background-color: #ccc;
    }

    &--checkbox_label input:checked~.online_control--checkmark {
        background-color: $light-gold;
    }

    &--checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    &--checkbox_label input:checked~.online_control--checkmark:after {
        display: block;
    }

    &--checkbox_label .online_control--checkmark:after {
        left: 7px;
        top: 5px;
        width: 5px;
        height: 7px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
