.home {

    display: flex;
    position: relative;
    justify-content: stretch;

}

.aside_instagram {

    // .aside_instagram--vertical_link
    background-color: $main-color;
    color: $light-gold;
    font-size: 1.4em;
    padding: 0 4px;
    display: flex;
    font-family: $futurademic-font;

    @media screen and (max-width: map-get($map: $breakpoints, $key: little-medium)) {
            
        display: none;

    }

    &--vertical_link {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    // .aside_instagram--vertical_link_text

    &--vertical_link_text {

        transform: rotate(90deg);
        margin-top: -74px;
        margin-left: -3px;

    }

    // .aside_instagram--vertical_link_line

    &--vertical_link_line {

        border-left: 2px solid $light-gold;
        height: 51px;
        margin-left: 37px;
        margin-top: 49px;

    }
}

.main_image {

    background-image: url('../img/home.png');
    background-position: 50% 50%;
    background-size: cover;
    color: white;
    flex-grow: 1;

    &--content {

        max-width: 600px;
        line-height: 1.3;
        padding-left: 4.3%;
        padding-top: 14.1%;
        padding-bottom: 16%;

    }

    // .main_image--title

    &--title {

        font-family: 'Yeseva One';
        font-size: 4em;

        
        @media screen and (max-width: map-get($map: $breakpoints, $key: little)) {
            
            font-size: 3em;
            
        }
        
        @media screen and (max-width: map-get($map: $breakpoints, $key: small-little)) {
             
             font-size: 2.6em;
             
 
         }

         @media screen and (max-width: map-get($map: $breakpoints, $key: small)) {
            
            font-size: 2.3em;
            padding-right: 1.2em;

        }
    }

    // .main_image--text

    &--text {

        font-size: 2.2em;
        padding-top: 20px;
        margin-bottom: 48px;

        span.mobile{

            display: none;

        }

        @media screen and (max-width: map-get($map: $breakpoints, $key: small-little)) {
            
            font-size: 1.8em;

            span.desktop{

                display: none;

            }

            span.mobile{

                display: static;

            }

        }

        @media screen and (max-width: map-get($map: $breakpoints, $key: little)) {
            
            font-size: 2em;

        }

    }

    // .main_image--buttons

	&--buttons {

        display: flex;

        @media screen and (max-width: map-get($map: $breakpoints, $key: small-little)) {
            
            flex-direction: column;
    
        }

	}

    // .main_image--left_button

    &--left_button {

        padding: 7px 41px;
        font-size: 1.3em;
        margin-right: 20px;
        display: flex;
        justify-content: center;

    }

    // .main_image--right_button

    &--right_button {

        padding: 6px 21px;
        font-size: 1.3em;
        background: none !important;
        border: 1px solid white;
        display: flex;
        justify-content: center;

        span.mobile{

            display: none;

        }

        @media screen and (max-width: map-get($map: $breakpoints, $key: small-little)) {
            
            margin-right: 20px;
            margin-top: 20px;
        }

        @media screen and (max-width: map-get($map: $breakpoints, $key: small)) {
            
            span.mobile{

                display: inline;
    
            }

            span.desktop{

                display: none;
    
            }

        }

    }
}

.scroll_down {

    position: absolute;
    display: flex;
    background-color: $main-color;
    font-family: 'Yeseva One';
    font-size: 1.4em;
    color:white;
    bottom: -7%;
    left: 0;
    padding: 20px 20px;

    // .scroll_down--link

    &--link {
        
    }

    // .scroll_down--link_icon

    &--link_icon {
        background-image: url('../icons/arrow-circle.svg?fill=#fff')
    }
}
