.complited_projects {

    display: flex;
    position: relative;
    flex-wrap: wrap;
    background-color: $main-color;
    padding-left: 7.1%;
    padding-top: 7%;

    color: white;

    @media screen and (max-width: map-get($map: $breakpoints, $key: large)) {

        flex-direction: column;
        justify-content: stretch;
        


    }

    @media screen and (max-width: map-get($map: $breakpoints, $key: medium)) {
            
        /* padding-right: 7.1%; */
        padding: 9% 0 0 0 ;

    }  

}

.projects_info {

    width: 36.8%;
    min-width: 341px;
    display: flex;
    flex-direction: column;
    padding-top: 5%;

    @media screen and (max-width: map-get($map: $breakpoints, $key: large)) {

        flex-grow: 1;
        width: auto;
        padding-bottom: 4%;
        padding-right: 7.1%;

    }
    @media screen and (max-width: map-get($map: $breakpoints, $key: little)) {

        padding-right: 0;

    }

    // .projects_info--title

    &--title {

        display: flex;
        width: 257px;
        height: 74px;
        padding-top: 13%;
        padding-top: 0!important;

        @media screen and (max-width: map-get($map: $breakpoints, $key: large)) {

            padding-top: 0;


        }

        @media screen and (max-width: map-get($map: $breakpoints, $key: medium)) {

            width: auto;
            height: auto;
            justify-content: center;


        }

    }

    // .projects_info--title_text

    &--title_text {
        font-family: 'Yeseva One';
        color: $light-gold;
        font-size: 2.7rem;
        line-height: 37px;
        width: 62.8458498%;



        @media screen and (max-width: map-get($map: $breakpoints, $key: medium)) {

            text-align: center;
            font-size: 2.2rem;
            width: 140px;

        }
    }

    // .projects_info--title_line

    &--title_line {
        width: 37.1541502%;
        margin-bottom: 17px;
        border-bottom: 1px solid $light-gold;

        @media screen and (max-width: map-get($map: $breakpoints, $key: medium)) {

            display: none;

        }
    }

    // .projects_info--text

    &--text {
        font-size: 1.8rem;
        line-height: 29px;
        padding-top: 25px;
        padding-right: 11.6459627%;




        @media screen and (max-width: map-get($map: $breakpoints, $key: medium)) {

            font-size: 1.4rem;
            text-align: center;
            padding: 5% 9% 6% 9%;
            line-height: 158.48%;
        }
    }
}

.projects_carousel {

    width: 63.1%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: map-get($map: $breakpoints, $key: large)) {

        width: auto;
        flex-grow: 1;
        justify-content: center;

    }

    // .projects_carousel--places_list

    &--places_list {

        display: flex;
        width: 100%;
        max-width: 623px;
        justify-content: space-between;
        padding-bottom: 6.2%;


        @media screen and (max-width: map-get($map: $breakpoints, $key: large)) {

            display: none;


        }

    }

    // .projects_carousel--places_item

    &--places_item {}

    // .projects_carousel--places_link

    &--places_link {

        font-family: 'Yeseva One';
        font-size: 1.4rem;
        color: #fff;
        opacity: 0.3;
        padding-bottom: 6px;
    }



    // active .projects_carousel--places_link

    &--places_link.active {
        opacity: 1;
        color: $light-gold;
        border-bottom: 1px solid $light-gold;
    }

    // .projects_carousel--slider

    &--slider {

        min-height: 482.38px;
        display: flex;
        /* flex-wrap: nowrap; */
        overflow: hidden;

        @media screen and (max-width: map-get($map: $breakpoints, $key: large)) {

            /* max-width: 680px; */
            
            min-height: 340px;


        }

        @media screen and (max-width: map-get($map: $breakpoints, $key: medium)) {

            /* max-width: 680px; */
            
            min-height: 241.55px;


        }
        

    }

    // .projects_carousel--slider_image

    &--slider_image {

        width: 679px;
        display: flex;
        flex-wrap: nowrap;
        /* height: 482.38px; */
        @media screen and (max-width: map-get($map: $breakpoints, $key: medium)) {
            
            overflow: hidden;
            margin: 0 auto;
            
            width: 340px;
            
    
        }  

    }

    // .projects_carousel--slider_image

    &--slider_image_item {

        object-fit: cover;
        margin-right: 20px;

    }

    // .projects_carousel--slider_button

    &--slider_button_right {

        background: $light-gold;
        width: 54.72px;
        height: 54.72px;
        border-radius: 50%;
        z-index: 1;
        position: absolute;
        right: 5.3310145%;
        top: 49.594%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: map-get($map: $breakpoints, $key: large)) {

            top: 42.594%;


        }

        @media screen and (max-width: map-get($map: $breakpoints, $key: medium)) {

            width: 36px;
            height: 36px;
            right: 8.331%;

        }
    }

    &--slider_button_right_arrow {
        height: 38%;
    }

    &--slider_button_left {
        display: none;

        @media screen and (max-width: map-get($map: $breakpoints, $key: large)) {

            top: 42.594%;


        }

        @media screen and (max-width: map-get($map: $breakpoints, $key: medium)) {

            background: $light-gold;
            top: 42.594%;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            z-index: 1;
            position: absolute;
            left: 8.331%;
            display: flex;
            align-items: center;
            justify-content: center;

        } 

    }

    &--slider_button_left_arrow {

        display: none;

        @media screen and (max-width: map-get($map: $breakpoints, $key: medium)) {
            
            display:inline;
            height: 38%;
            transform: rotate(180deg);
    
        }  

    }
}


.project_table_content {
    display: flex;
    flex-direction: column;
    max-width: 26.2%;
    justify-content: stretch;
    position: absolute;
    left: inherit;
    top: 61%;

    @media screen and (max-width: map-get($map: $breakpoints, $key: large)) {

        flex-grow: 1;
        position: relative;
        max-width: none;
        padding: 9% 4%;

    }
}

.projects_table {

    display: flex;
    flex-wrap: wrap;


    // .projects_table--item

    &--item {

        width: 50%;
        display: flex;
        flex-direction: column;
        padding-bottom: 38px;

    }

    // .projects_table--item_title

    &--item_title {

        color: $light-gold;
        font-family: 'Yeseva One';
        font-size: 1.8rem;

    }

    // .projects_table--item_text

    &--item_text {

        font-size: 1.5rem;
        padding-top: 11px;
        max-width: 87px;
        line-height: 20px;

    }
}

.circles_arrows {
    // .projects_table--circles_arrows

    display: flex;
    justify-content: space-between;
    max-width: 205.68px;
    max-height: 13.28px;
    padding-top: 13%;

    @media screen and (max-width: map-get($map: $breakpoints, $key: large)) {

        display: none;


    }

    // .projects_table--arrow_left

    &--arrow_left {

        transform: rotate(180deg);
        max-width: 44px;

    }

    // .projects_table--circle

    &--circle {

        background: rgba(255, 255, 255, 0.3);
        border-radius: 30px;
        width: 9.57px;
        height: 9.57px;

    }

    // active .projects_table--circle

    &--circle.active {
        background: #fff !important;
    }


    // .projects_table--arrow_right

    &--arrow_right {

        max-width: 44px;

    }
}
