// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



/// Regular font family
/// @type List
$futurademic-font: 'FuturaDemiC',sans-serif !default;

/// Regular font family
/// @type List
$futurabookc-font: 'FuturaBookC', sans-serif !default;

/// Regular font family
/// @type List
$futuramediumc-font: 'FuturaMediumC', sans-serif !default;

/// Regular font family
/// @type List
$proximanova-font: 'Proxima Nova', sans-serif !default;

/// Regular font family
/// @type List
$yesevaone-font: 'Yeseva One', sans-serif !default;



/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;/// Regular font family


/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


///Background color
///@type Color
$main-color: #131313; 

/// Light Gold
/// @type Color
$light-gold: #E3B873;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;




/// Container's maximum width
/// @type Length
$max-width: 1440px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 375px,
  'small-little': 475px,
  'little': 560px,
  'little-medium': 640px,
  'medium': 768px,
  'large': 1024px
) !default;




