// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.demi_font-btn {

   color: white;
   line-height: 35px;
   background-color: $light-gold;
   font-family: $futurademic-font;
   box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
   border-radius: 2px;
   border: 0;

}

.yeseva_font-btn {

   color: white;
   background-color: $light-gold;
   font-family: $yesevaone-font;
   box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.1);
   border: 0;

}

.demi_font-btn:hover,
.yeseva_font-btn:hover{
   box-shadow: 5px 5px 15px rgb(196, 196, 196);
}