.navbar {

    display: flex;
    justify-content: space-between;
    

    // .navbar--item

    &--item {

        display: flex;
       
        /* margin-right: 5px; */
        padding: 0 0.2em; 

    }



    // .navbar--link

    &--link {

        
        color: white;

        &:hover {
            color: $light-gold;
        }
    }

    &--link.active {

        color: $light-gold !important;

    }
}