@charset 'UTF-8';

@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

@import
  'vendors/reset';

@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

@import
  'components/button',
  'components/navbar';

@import
  'layout/header',
  'layout/footer',
  'layout/section-1',
  'layout/section-2',
  'layout/section-3',
  'layout/section-4',
  'layout/section-5',
  'layout/section-6',
  'layout/section-7',
  'layout/section-8',
  'layout/section-9',
  'layout/section-10',
  'layout/section-11',
  'layout/section-12';




